<footer>
    <div class="container">
        <div class="row justify-content-center">
			<div class="col-md-6">
				<h3>Sobre GrowthMile</h3>
				<!-- Obviously in this section you should write about you but we are using work of other people here so we will write about them! -->
				<p class="info">Somos una agencia de marketing digital técnico que se especializa en la creación de estrategias de lanzamiento de productos y optimización web. Gracias a los datos que recogemos somos capaces de iterar de forma rapida y aumentar el crecimiento de tu negocio.</p>
			</div>
			<div class="col-md-6">
				<h3>Suscríbete</h3>
				<p class="info">Déjanos tu mail y te mantendremos al tanto de nuestros experimentos</p>
				<!-- Begin MailChimp Signup Form -->
					<div id="mc_embed_signup" class="mc-field-group">
						<form action="//growthmile.us14.list-manage.com/subscribe/post?u=e53697aa1a627759d59d92a8e&amp;id=f8db2d896c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
							<div id="mc_embed_signup_scroll">
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Tu Email" required="">
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8d794eb61d2130477ff0c5e69_26234bb062" tabindex="-1" value=""></div>
								<div class="clear"><input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
							</div>
						</form>
					</div>
			</div>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 allrights">
				<h2 class="logo" style="color: white">GrowthMile</h2>
            </div>
        </div>
    </div>
</footer>