  <div class="footer">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-7">
          <h2 class="footer__title title">GrowthMile</h2>
          <p class="footer__text">GrowthMile ayuda a empresas a encontrar los mecanismos para desatar el potencial que tienen. Especializados en marketing digital técnico nos enfocamos en la creación de estrategias de lanzamiento de productos y optimización web. Gracias a los datos que recogemos somos capaces de iterar de forma rapida y aumentar el crecimiento de tu negocio.</p>
        </div>
        <div class="w-col w-col-5">
          <h2 class="footer__title">Servicios</h2>
          <ul class="footer__ul w-list-unstyled">
            <li class="footer__li">
              <div>Lanzamiento de Proyectos</div>
            </li>
            <li>
              <div class="footer__li">Optimización de Páginas Web</div>
            </li>
            <li>
              <div class="footer__li">Marketing Digital Técnico</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>