<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MMMFZG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<nav id="menu">
	<header>
		<div class="menu__title logo">GM</div>
		<ul class="menu__list">
			<li class="menu__list__title">Menu</li>
			<a href="/" class="menu__item"><li >Pagina Principal</li></a>
			<a href="/form" class="menu__item"><li>Contacta con Nosotros</li></a>
		</ul>
	</header>
</nav>

<main id="panel">
	<header class="topnav">
		<button class="Burger-icon toggle-button">
		  <span class="Burger-icon-bar"></span>
		  <span class="Burger-icon-bar"></span>
		  <span class="Burger-icon-bar"></span>
		</button>
	</header>
