<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MMMFZG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<nav id="menu">
	<header>
		<div class="menu__title logo">GM</div>
		<div class="container">
			<ul style="list-style: none; padding-left: 0; margin-top: 50px;">
				<li style="margin-bottom: 15px;"><a href="/" style=" color: black; text-decoration: none;">Pagina Principal</li></a>
				<li><a href="/form" style="color: black; text-decoration: none;">Contacta con Nosotros</li></a>
			</ul>
		</div>
	</header>
</nav>

<main id="panel">
	<header class="topnav">
		<button class="Burger-icon toggle-button">
		  <span class="Burger-icon-bar"></span>
		  <span class="Burger-icon-bar"></span>
		  <span class="Burger-icon-bar"></span>
		</button>
	</header>
