.form-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 61px);

	form {
		border: 1px solid $dark-gray;
		padding: 24px;
		padding-bottom: 46px;
	}

	h3 {
		margin-top: 24px;
		margin-bottom: 16px;
	}

	textarea {
		width: 100%;
		height: 64px;
		border: 1px solid $light-gray;
		padding: 8px;
	}

	input {
		border: 1px solid $light-gray;
		padding: 8px;
		@media (max-width: 400px) {
			width: 170px;
		}
	}
	button {
	    cursor: pointer;
	    font-family: 'Montserrat';
	    letter-spacing: 2px;
	    text-transform: uppercase;
	    box-sizing: border-box;
	    max-width: 100px;
	    font-size: 12px;
	   	background-color: #6799FF;
	    border: 1px solid #6799FF;
	    color: white;
	    height: 42px;
	}

}