// css


.services {
	padding: 24px 0;

	h3 {
		min-height: 60px;
	}
}

p {
	line-height: 1.5;
	margin: 16px 0;
}

a {
	color: #404040;
}
a:hover,
a:focus {
	color: #a03333;
}
hr.thin {
	max-width: 60px;
	margin: 15px auto;
	border-width: 2px;
	border-color: #404040;
}
footer hr.thin {
	max-width: 100px;
	margin-top: 40px;
	border-width: 2px;
	border-color: #404040;
}

header .pitch {
	padding: 120px 0 50px;
	height: calc(100vh - 90px);
	color: #000000;
}

@media only screen and (max-width: 768px) {
	header .pitch {
		padding: 50px 0;
	}
	header .pitch .logo {
	margin-bottom: 20px;
	}
}
header .pitch {
	text-align: center;
}
header .pitch .MoreInfo {
	font-size: 24px;
	line-height: 1.1;
	display: block;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #252525;
	margin: 10px 0 0;
}
header .pitch .CallToAction {
	font-size: 18px;
	line-height: 1.1;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #323232;
	margin: 32px 0 20px 0;
}
@media only screen and (min-width: 768px) {
	header .pitch h1 {
		font-size: 64px;
		margin-bottom: 32px;
	}
}

.ThreeThings {
	margin-top: 50px;
}
.midnewsletter {
	text-align: center;
}
.info {
	margin-top: 0;
}
.testimonials {
	margin-top: 35px;
}

.job{
	margin-top: 0;
	margin-bottom: 10px;
	color: #7a7a7a;
}
.recommendation {
	margin-top: 0;
	padding-top: 0;
}
footer {
	margin-top: 50px;
	background-color: #252525;
	color: #ffffff;
	padding: 50px 0 65px;

	a {
		color: #f6f6f6;
	
		&:hover,
		&:focus {
			color: #a03333;
		}
	}
	.logo {
		color: white;
	    display: inline;
	    font-family: Montserrat,Arial,Sans-Serif;
	    border-bottom: 3px solid $corp-color;
	    text-shadow: none;
	}
	h3 {
		color: #ffffff;
	}
	.allrights {
		margin-top: 25px;
		text-align: center;
	}
	.copyright {
		font-size: 14px;
		text-align: center;
		line-height: 1.2;
		margin-top: 25px;
	}
	.copyright-second {
		font-size: 14px;
		text-align: center;
		line-height: 1.2;
		margin: 0px 0 0 0;
	}
	#mc_embed_signup_scroll {

		display: flex;
    	align-items: center;

		.email {
			background-color: transparent;
			padding-left: 8px;
			color: white;
			display: inline;
			float: left;
			width: 240px;
			border: 3px solid #9AF7D3;
			outline: none;
		}

		.button {
			display: inline;
		    float: right;
		    width: 80px;
		    height: 32px;
		    background-color: #6799FF;
		    color: white;
		    border: none;
		    font-family: Montserrat;
		    text-transform: uppercase;
		}
	}
}

.CallToAction__form {
	display: flex;
    justify-content: center;
    form {
    	display: flex;
    	.cta-email {
    		display: inline;
		    float: left;
		    width: 240px;
		    border: 3px solid $corp-color;
		    outline: none;
    	}
    	.cta-send {
			display: inline;
		    float: right;
		    width: 80px;
		    background-color: $corp-color-second;
		    color: white;
		    border: none;
		    font-family: Montserrat;
		    text-transform: uppercase;
    	}
    }
}
//css

.home-cover {
	display: flex;
    height: calc(100vh - 68px);
    max-height: 600px;
    min-height: 500px;
    align-items: center;
    justify-content: center;
}

.home-cover__content {
	padding: 20px;
	text-align: center;
}

.home-cover__title {
	font-family: $title-font-family;
	font-weight: 400;
	margin-top: 0;
	@media (max-width: 450px) {
		font-size: 1.5rem;
	}
}

.home-cover__subtitle {
	font-weight: 400;
}

.home-cover__card {
	
	display: inline-block;
	border: 1px solid $dark-gray;
	padding: 20px;

	@media (min-width: 601px) {
		margin-left: 16px;
		margin-right: 16px;
	}

	img {
		width:80px;
	}

	.card__title {

	}

	.card__features {
		list-style: none;
    	padding: 0;
    	font-size: 15px;
    	margin: 0;
	}

	.card__cta {
		display: inline-block;
		border-bottom: 2px solid $corp-color-second;
		padding: 5px;
		margin: 0;
		margin-top: 17px;
		font-size: 15px;
	}
}

.tab-container__footer {
	width: 100%;
	max-width: 320px;
	margin: auto;
	margin-top: 32px;
}

.tab-container {
	margin-top: 40px;
}

.home-cover__options button {

	cursor: pointer;
	font-family: 'Montserrat';
	letter-spacing: 2px;
	text-transform: uppercase;
	height: 40px;
	background-color: transparent;
    color: $black;
    border: 1px solid $dark-gray;
    box-sizing: border-box;
    width: 49%;
    max-width: 140px;
	font-size: 12px;

    &.active {
    background-color: $corp-color-second;
    border: 1px solid $corp-color-second;
    color: white;
    height: 40px;
	}


}

.home-vp {
	background: $light-gray;
    color: $black;
    text-align: center;
    padding: 32px 20px;

    img {
    	max-height: 80px;
    	max-width: 75px;
    	filter: grayscale(100%);
    }

    .col {
   		align-items: center;
    	display: flex;
    	justify-content: center;
    }

}

.about{
	position: relative;
	min-height: initial;

	padding: 150px 0 140px;

	text-align: center;

	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

	@media (max-width: 992px){
		padding-bottom: 100px;

		position: relative;

		&:before{
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;

			background-color: rgba(white, 0.9);
		}
	}
	@media (max-width: 500px){
		padding-top: 50px;
		padding-bottom: 30px;

		background-position: right center;
		background-size: 200%;
	}
}
.about__container{
	position: relative;
}
.about__title_box{
	margin-bottom: 85px;

	@media (min-width: 501px){
		text-align: left;
	}

	@media (max-width: 500px){
		margin-bottom: 48px;
	}
}
.about__description{
	display: inline-block;

	max-width: 500px;

	font-size: 16px;
	color: $black;
}
.about__box{
	display: inline-block;

	max-width: 240px;
	padding-top: 40px;
}
.about__row{
	margin-bottom: 85px;

	&:last-child{
		margin-bottom: 0;
	}
}
.about__feature_item{
	margin-bottom: 85px;

	@media (min-width: 501px){
		text-align: left;
	}
}
.about__item_icon{
	position: relative;
	display: inline-block;

	margin-bottom: 24px;

	&:before{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;

		width: 100%;
		height: 100%;
	}
	
	.fa {
		color: $corp-color;
		font-size: 60px;
	}
}
.about__feature_item_title-{

	margin-bottom: 10px;

	font-size: 13px;
	color: $black;
	text-transform: uppercase;
	letter-spacing: 0.085em;
}
.about__item_text{

	display: block;

	margin-left: 0;
	margin-bottom: 15px;
	max-width: 400px;

	font-size: 14px;
	letter-spacing: 0.05em;
	color: $black;

	@media (min-width: 501px){
		width: 90%;
	}
	@media (max-width: 500px){
		margin-left: auto;
		margin-right: auto;
	}
}
.about__img_box{
	display: inline-block;
	vertical-align: top;

	max-width: 330px;

	margin: 0 60px;

	@media (max-width: 992px){
		display: block;

		margin: auto;
	}
}
.about__img{
	width: 100%;
}