.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}


.menu__title {
    border-bottom: 1px solid $dark-gray;
    font-size: 40px;
    height: 66px;
    text-align: center;
}

#menu {
  background: rgba(19,19,19,1);
  background: -moz-linear-gradient(-45deg, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(17,17,17,1) 30%, rgba(16,20,16,1) 49%, rgba(56,55,56,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(19,19,19,1)), color-stop(9%, rgba(28,28,28,1)), color-stop(30%, rgba(17,17,17,1)), color-stop(49%, rgba(16,20,16,1)), color-stop(100%, rgba(56,55,56,1)));
  background: -webkit-linear-gradient(-45deg, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(17,17,17,1) 30%, rgba(16,20,16,1) 49%, rgba(56,55,56,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(17,17,17,1) 30%, rgba(16,20,16,1) 49%, rgba(56,55,56,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(17,17,17,1) 30%, rgba(16,20,16,1) 49%, rgba(56,55,56,1) 100%);
  background: linear-gradient(135deg, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(17,17,17,1) 30%, rgba(16,20,16,1) 49%, rgba(56,55,56,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#383738', GradientType=1 );
  color: white;
}

.menu__list {
  list-style: none;
  padding-left: 0;
  margin-top: 50px;
}

.menu__item {
  padding: 8px;
  font-weight: 200;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-size: 16px;
  a {
    color: white;
    text-decoration: none;
  }
}

.menu__list__title {
  font-family: $title-font-family;
  letter-spacing: 2px;
  padding-left: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 8px;
}

 .menu__item:hover {
    background-color: rgba(255, 255, 255, 0.17);
  }