// 1.Config

// 2.Base
html {
  margin: 0;
  padding: 0;
}

body {
	font-family: $base-font-family;
	color: $black;
	width: 100%;
	height: 100%;
  margin: 0;

}

p {
  margin: 15px 0 0;

  &:first-child {
    margin-top: 0;
  }
}

a {
  color: $link-color;
}

.logo {
  font-family: $title-font-family;
  color: black;
  text-shadow: 3px 3px 0px rgba(153,247,211,0.79);
}

.invisible-xs {
  @media (max-width: 600px) {
   display: none !important; 
  }
}

h1 {
  font-size: 2rem;
}