<!doctype html>

<head>
{% include head.html %}
</head>
<body>
{% include header.html %}
 <header>
        <div class="container">
            <div class="row justify-content-center">
                    <div class="col home-hero">
                        <h1 class="logo">GrowthMile</h1>
                        <p class="subtitle">¿Lanzando un negocio y necesitas ayuda para despegar?</p>
						<p class="home-hero__text"><span style="font-weight: bold;">Marketing Digital Técnico</span> para potenciar tu negocio. Ayudamos a Startups y otros negocios a definir, diseñar, lanzar y analizar su presencia online</p>
						<p class="CallToAction">Dejanos tu email para recibir información de como te ayudamos</p>
						<div class="CallToAction__form">
							<form id="Home-PrimaryCTA" action="https://formspree.io/your@email.com" method="POST" > 
								<input class="cta-email" type="email" name="_replyto">
								<input class="cta-send" type="submit" value="Send">
							</form>
						</div>
                    </div>
                </div>
            </div>
    </header>
<section class="container-fluid home-vp">
	<div class="container">
	<div class="row">
		<div class="col"><img src="media/danone-logo.png" alt=""></div>
		<div class="col"><img src="media/ssangyong-logo.png" alt=""></div>
		<div class="col"><img src="media/berlinprime-logo.png" alt="" style="max-width: 130px;"></div>
	</div>
	</div>
</section>
<section>
<div class="container">
	            <div class="row pitch">
                <p class="MoreInfo col-12">Servicios</p>
            	<div class="col-md-6 service"><h2>Lanzamiento llave en mano</h2>
					<p>Nosotros te creamos una Landing Page para tu proyecto. Diseñada, redactada y lanzada por profesionales. Consigue tu página online, por un precio fijo en días, recopilando la información que necesitas para entender a tus clientes.</p>
            		<a href="/form">Más Información</a>
            	</div>
            	<div class="col-md-6"><h2>Potencia tu presencia online</h2>
					<p>Analizamos el comportamiento de tus usuarios para comprender posibles ineficiencias. Una vez encontradas trabajamos en equipo para optimizar los elementos que entorpecen en el ratio de conversión de tu negocio.</p>
            		<a href="/form">Más Información</a>
            	</div>
            </div>
</div>
</section>
<section class="container-fluid process">
	<h2 class="title">¿Cómo trabajamos dentro GrowthMile?</h2>
	<div class="container hero center-content">
		<div class="row" style="margin-bottom: 48px;">
			<div class="col-md-6">
				<div class="process-container">
    				<span class="line"></span>
					<div class="step">
						<div class="step-container">
						<div class="row">
							<div class="col-2"><p class="square">1</p></div>
							<div class="col-10 step__text">Una vez nos hemos reunido, nuestro equipo analiza y diseña una Landing Page para conseguir tus objetivos</div>
						</div>
						</div>
					</div>
					<div class="step">
						<div class="step-container">
						<div class="row">
							<div class="col-2"><div class="triangle" ><span>2</span></div></div>
							<div class="col-10 step__text">Con el diseño cerrado, los desarrolladores programan la página utilizando las mejores prácticas de desarrollo y SEO técnico</div>
						</div>
						</div>
					</div>
					<div class="step">
						<div class="step-container">
						<div class="row">
							<div class="col-2"><p class="square">3</p></div>
							<div class="col-10 step__text">Para que puedas conseguir información accionable instalamos herramientas de analítica y te montamos un servicio de reportes completo</div>
						</div>
						</div>
					</div>
				</div>


			</div>
			<div class="col-md-6 process-card-container">
				<div class="process-card">
					<div class="process-card__title">Lanzamiento llave en mano</div>
					<div class="process-card__text">Consigue resultados dramaticamente mejores que con una plantilla. Más rápido y barato que con una agencia o consultora</div>
					<a href="/form"><button class="process-card__cta" >Obten Presupuesto</button></a>
				</div>
			</div>
		</div>
	</div>
</section>

{% include footer.html %}

{% include scripts.html %}