<!doctype html>

<head>
{% include head.html %}
</head>
<body>
{% include header.html %}
 <div class="home-cover">
    <div class="home-cover__container w-container">
      <div class="home-cover__row w-row">
        <div class="home-cover__column w-col w-col-6">
          <div>
            <h1 class="home-cover__title title">Agencia de Desarrollo Web y Marketing Digital Técnico</h1>
            <p class="home-cover__text">El mejor socio en tu negocio digital</p>
            <p class="home-cover__text">Utilizamos las mejores herramientas y tecnologías para desatar el potencial de internet. Nuestro objetivo es claro: crecer</p>
            <p class="home-cover__text home-cover__title">Analítica, tests A/B, diseño y desarrollo web</p>
          </div>
        </div>
        <div class="home-cover__column w-col w-col-6" data-ix="hover-illustration">
          <div class="home-cover__illustration" data-ix="cover-illustration"><img class="home-cover__illustration-photo1" src="images/fondo.svg"><img class="home-cover__illustration-photo2" data-ix="cover-2" src="images/layer2.svg"><img class="home-cover__illustration-photo3" data-ix="cover-3" src="images/layer3.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-brands">
    <div class="home-brands__container w-container"><img class="home-brands__img" src="images/danone-logo.png" width="120"><img class="home-brands__img" src="images/ssangyong-logo.png" width="120"><img class="home-brands__img" sizes="72px" src="images/berlinprime-logo.png" srcset="images/berlinprime-logo-p-500x171.png 500w, images/berlinprime-logo.png 528w" width="120">
    </div>
  </div>
  <div class="home-motto">
    <div class="w-container">
      <h2 class="title">El Marketing Digital no es arte, es ciencia</h2>
    </div>
  </div>
  <div class="home-why">
    <div class="w-container">
      <div class="home-why__row w-row">
        <div class="home-why__left w-col w-col-6">
          <p class="home-why__phrase">La tecnología nos permite tener el poder de análisis de distribución que antes solo los big players podían imaginar.</p>
        </div>
        <div class="w-col w-col-6">
          <p class="home-why__explanation">Internet ofrece dos grandes ventajas competitivas, <strong>distribución</strong> e <strong>información</strong>.</p>
          <p class="home-why__explanation">Ahora tenemos la posibilidad de llegar a millones de personas por una ínfima parte de lo que podríamos imaginar. Cada vez más las empresas generan <strong>motores de crecimiento</strong> dentro de su producto. Dropbox, Uber y Airbnb confiaron desde el principio en estrategias de viralización para disminuir el coste de adquisición de usuarios y crecer de formas exponenciales.</p>
          <p class="home-why__explanation">Con las herramientas adecuadas somos capaces de registrar y <strong>analizar todas las acciones</strong> que realizan nuestros usuarios, esto nos permite mejorar más rápido y crecer con una mayor firmeza. Sabemos cómo se comporta nuestro cliente en las distintas partes de nuestro funnel y podemos actuar sobre ello.</p><a class="w-button" href="servicios-de-marketing-digital-tecnico.html">Servicios</a>
        </div>
      </div>
    </div>
  </div>

{% include footer.html %}

{% include scripts.html %}

</body>